* @Alfredo-Sandoval @sandovaljoseph

/LICENSE @Alfredo-Sandoval @sandovaljoseph
/README.md @Alfredo-Sandoval @sandovaljoseph
/pyproject.toml @Alfredo-Sandoval @sandovaljoseph
/sam3_mlx/ @Alfredo-Sandoval @sandovaljoseph
/tests/ @Alfredo-Sandoval @sandovaljoseph
/dev_docs/ @Alfredo-Sandoval @sandovaljoseph
